<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="tema-utilizador">
<main>
    <header class="cabecalho">
        <h1>Login</h1>
        <p>Acesso ao sistema da clínica médica</p>
    </header>

    <section class="cartao">

        <p th:if="${erro}" th:text="${erro}" class="erro"></p>

        <form action="/login" method="post" class="formulario">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>

        <p>
            Ainda não tem registo?
            <a href="/registar">Criar utilizador</a>
        </p>
    </section>
</main>

</body>
</html>