<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Pacientes da Clínica</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2> Lista de Pacientes </h2>
<main>
    <table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
    </tr>

    <tr th:each="p:${lista}">
        <td th:text="${p.nome}"></td>
        <td th:text="${p.idade}"></td>
    </tr>
</table>

<section>
    <h2>Novo Paciente</h2>

    <form action="/pacientes" method="post">
        <input type="text" name="nome" placeholder="Nome completo">
        <input type="number" name="idade" placeholder="Idade">
        <button type="submit" onclick="mostrarMensagem()">Adicionar</button>
    </form>
    <script>
        function mostrarMensagem(){
            alert("Operação realizada com sucesso!")
        }
    </script>
</section>
    </main>
</body>
</html>